.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

cadastro/node_modules
cadastro/public/hot
cadastro/public/storage
cadastro/storage/*.key
cadastro/vendor
cadastro/.env
cadastro/.phpunit.result.cache
cadastro/Homestead.json
cadastro/Homestead.yaml
cadastro/npm-debug.log
cadastro/yarn-error.log
